In [3]:
import os
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
train_dir='C:/Users/LENOVO/Desktop/POS-tagger/Assignment-files/Train-corpus'

words=[]
tags=[]
sentences=[]

for _dir, subdir, files in os.walk(train_dir):
    for files in files:
        tree=ET.parse(os.path.join(os.path.abspath(_dir),files))
        root=tree.getroot()
        for ele in root.findall('.//'):
            if(ele.tag=='w' or ele.tag=='c'):
                words.append(ele.text)
                tags.append(ele.attrib['c5'])
                        
data={'WORDS': words, 'POS_TAGS': tags}
pd.DataFrame(data).to_csv('train words_postag table.csv', index=False)

In [4]:
df=pd.read_csv('train words_postag table.csv')
df.head()

        WORDS POS_TAGS
0       NEWS       NN1
1         IN       PRP
2       FOCUS      NN1
3  Published       VVN
4         by       PRP

In [5]:
df.tail()

           WORDS POS_TAGS
10348610   Vera       NP0
10348611     N.       NP0
10348612    Paul      NP0
10348613      ,       PUN
10348614  O.B.E.      NP0

In [6]:
test_dir='C:/Users/LENOVO/Desktop/POS-tagger/Assignment-files/Test-corpus'

test_words=[]
test_tags=[]

for _dir, subdir, files in os.walk(test_dir):
    for files in files:
        tree=ET.parse(os.path.join(os.path.abspath(_dir),files))
        root=tree.getroot()
        for ele in root.findall('.//'):
            if(ele.tag=='w' or ele.tag=='c'):
                test_words.append(ele.text)
                test_tags.append(ele.attrib['c5'])
                        
test_data={'WORDS': test_words, 'POS_TAGS': test_tags}
pd.DataFrame(test_data).to_csv('test words_postag table.csv', index=False)

In [4]:
dff=pd.read_csv('test words_postag table.csv')
dff.head()

        WORDS POS_TAGS
0        THE       AT0
1     PLAYERS      NN2
2  Virtually       AV0
3      every       AT0
4    country       NN1

In [5]:
dff.tail()

             WORDS POS_TAGS
4129739    Mounsey      NP0
4129740         ,       PUN
4129741  Customer       NN1
4129742  Marketing      NN1
4129743          .      PUN

In [9]:
## frequency count dictionary

In [16]:
freq= {}
for i in dff.index:
    temp=str(dff['WORDS'][i])[:-1]+'_'+dff['POS_TAGS'][i]
    if(temp in freq):
        freq[temp]+=1
    else:
        freq[temp]=1

In [40]:
freq={k: v for k, v in sorted(freq.items(), key=lambda item:item[1], reverse=True)}
top10=list(freq.items())
for i in range(10):
    print(top10[i][0], '->', top10[i][1])

the_AT0 -> 212209
_PUN -> 197318
,_PUN -> 190321
of_PRF -> 119522
and_CJC -> 95620
a_AT0 -> 80284
in_PRP -> 60695
to_TO0 -> 58815
_PUQ -> 54486
to_PRP -> 37913