In [1]:
import os
import pandas as pd
import xml.etree.ElementTree as ET

In [51]:
train_dir='C:/Users/LENOVO/Desktop/POS-tagger/Assignment-files/Train-corpus'

sentn=[]
s=""

for _dir, subdir, files in os.walk(train_dir):
    for files in files:
        tree=ET.parse(os.path.join(os.path.abspath(_dir),files))
        root=tree.getroot()
        for ele in root.findall('.//'):
            if(ele.tag=='s'):
                sentn.append(s)
                s=""
            if(ele.tag=='w' or ele.tag=='c'):
                s+=str(ele.text)[:-1]+'_'+ele.attrib['c5']+' '
sentn.append(s)
pd.DataFrame(sentn[1:]).to_csv('train words_tag_2.csv')

In [52]:
df= pd.read_csv('train words_tag_2.csv')

In [53]:
df.head()

   Unnamed: 0                                                  0
0           0                          NEWS_NN1 IN_PRP FOCU_NN1
1           1  Published_VVN by_PRP Age_NN1 Concern_NN1-VVB E...
2           2  Edito_NN1 :_PUN Elspeth_NP0 Rodwell_NP0 Octobe...
3           3  This_DT0 month_NN1 in_PRP the_AT0 News_NN1 in_...
4           4  We_PNP have_VHB reviewed_VVN our_DPS corporate...

In [54]:
df.tail()

        Unnamed: 0                                                  0
483624      483624  The_AT0 chalk_NN1 pit_NN1-VVB itself_PNX is_VB...
483625      483625  Nigel_NP0 and_CJC I_PNP wer_VBD ,_PUN above_PR...
483626      483626  Altogether_AV0 we_PNP recorded_VVD 202_CRD dif...
483627      483627  Thank_VVB you_PNP for_PRP inviting_VVG us_PNP ...
483628      483628           Vera_NP0 N._NP0 Pau_NP0 ,_PUN O.B.E_NP0

In [47]:
train_dir='C:/Users/LENOVO/Desktop/POS-tagger/Assignment-files/Test-corpus'

sentn=[]
s=""

for _dir, subdir, files in os.walk(train_dir):
    for files in files:
        tree=ET.parse(os.path.join(os.path.abspath(_dir),files))
        root=tree.getroot()
        for ele in root.findall('.//'):
            if(ele.tag=='s'):
                sentn.append(s)
                s=""
            if(ele.tag=='w' or ele.tag=='c'):
                s+=str(ele.text)[:-1]+'_'+ele.attrib['c5']+' '
sentn.append(s)
pd.DataFrame(sentn[1:]).to_csv('test words_tag_2.csv')

In [48]:
df= pd.read_csv('test words_tag_2.csv')

In [49]:
df.head()

   Unnamed: 0                                                  0
0           0                                THE_AT0 PLAYER_NN2
1           1  Virtually_AV0 every_AT0 country_NN1 in_PRP the...
2           2  Most_DT0 have_VHB at_PRP least_AV0 tw_CRD ,_PU...
3           3  In_PRP addition_NN1 there_EX0 are_VBB often_AV...
4           4  The_AT0 general_AJ0-NN1 rule_NN1 is_VBZ that_C...

In [50]:
df.tail()

        Unnamed: 0                                                  0
200463      200463  Indee_AV0 ,_PUN _PUQ A_ZZ0 Guide_VVB-NN1 to_PR...
200464      200464  For_PRP your_DPS free_AJ0 cop_NN1 ,_PUN simply...
200465      200465  If_CJS yo_PNP 'd_VM0 like_VVI details_NN2 of_P...
200466      200466  Then_AV0 yo_PNP 'll_VM0 see_VVI how_AVQ we_PNP...
200467      200467  Yours_PNP sincerel_AV0 ,_PUN Philip_NP0 Mounse...